{{ partial "head.html" . }}

  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <div class="d-flex align-items-center">
        <i class="material-icons">access_time</i>
        <time class="post-date ml-1" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
      </div>
      <div class="d-flex mt-2">
          {{ if .Params.tags }}
          {{ range .Params.tags }}
          <a class="tag text-dark tag--{{ . }}" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">#{{ . }}</a>
          {{ end }}
          {{ end }}
      </div>
    </header>

    {{ .Content }}

  </article>

{{ partial "footer.html" . }}